<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index.html file </title>
</head>
<body>
<!--<h3>This page is come from Template </h3><br>
{{name}} is from {{place}} -->
<h2>Welcome to text utilization form</h2>
<form name="" action="/analyze" method="get">
    <textarea name="text" style="width: 719px; height: 159px;"></textarea><br>

    <input  type="checkbox" name="removepunc">Remove Punctuation <br>
    <input  type="checkbox" name="fullcaps">Full Capital<br>
    <input  type="checkbox" name="newlineremover">New Line Remover<br>
    <input  type="checkbox" name="spacemover">Space Remover<br>

    <button type="submit">Analyze Text</button>

</form>


</body>
</html>